<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
{{!-- 	<link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/home--v2.png"> --}}
	<title>Visuale</title>
    <style>
        input {
            text-align: center;
        }
    </style>
</head>
<body>
    
<h1 class="center-align">Visuale</h1>

<div class="row container center-align">
    <div class="col s8 offset-s2">
        <h6>You have 6 guesses to guess the object in the image! After each guess, the picture will zoom out to give you more hints. Press enter to submit each guess.</h6>
    </div>
    <div class="imgBox col s4 offset-s4">
        <img src="img/{{answer}}.jpeg" class="zoom1" alt="backpack" width="300px" height="300px" id="image">
    </div>
    <div class="col s4 offset-s4">
        <input type="text" id="guess" placeholder="Enter Guess" onkeypress="enter(event)" size="25"><br>
    </div>
    <div class="col s8 offset-s2">
        <p id="message"></p>
        <p id="val"></p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
    var log = "";
    document.getElementById("image").class = "zoom1";
    var count = 1;
    function enter(e){
        //click enter
        if(e.keyCode === 13){
            val = document.getElementById("guess").value.toLowerCase();
            check(val);
            document.getElementById("guess").value = "";  //reset text box
        }
    }
    
    function check(value){
        
        var ajax_params = {
            'url'     : "http://localhost:8080/check?word=" + value,
            'type'    : "get",
            'success' : result //callback function
        }
        
        // run AJAX function 
        $.ajax( ajax_params )
    }
    
    function result(response) {
    	if(response.real == Boolean(false)) {
    	    console.log('false')
    	    document.getElementById("message").innerHTML = 'error! not a valid word'
    	    document.getElementById("message").style.color = "#c23030"
    	}
    	else if(response.word == response.answer) {
    	    console.log('correct')
            log = val + "<br>" + log;
            console.log(log);
            document.getElementById("val").innerHTML = log;
    	    document.getElementById("message").innerHTML = 'congratulations! you found the word in ' + count + " tries"
            document.getElementById("message").style.color = "#4a915e"
            count = 7;
            new_class = "zoom" + count;
            document.getElementById("image").className = new_class;
    	}
    	else {
    	    console.log('incorrect')
            log = val + "<br>" + log;
            console.log(log);
            document.getElementById("val").innerHTML = log;
    	    document.getElementById("message").innerHTML = 'sorry, this is incorrect'
    	    document.getElementById("message").style.color = "#c27c30"
            count += 1;
            new_class = "zoom" + count;
            document.getElementById("image").className = new_class;
    	}
    }

</script>


</body>
</html>
